#baseline-controls{
	height: 22px;
	padding: 5px;
	position: fixed;
	top: 35px;
	left: 15px;
	background: rgba(0,0,0,0.7);
	border: 1px solid #fff;
	border-radius: 4px;
	z-index: 999;
	box-shadow: 0 0 5px #000;
}
#baseline-controls select{
	height: 18px;
	float: left;
}
#hide-baseline{
	height: 16px;
	padding: 1px 0 1px 3px;
	display: block;
	float: left;
}
#baseline-overlay{
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	pointer-events: none;
	z-index: 998;
	overflow: hidden;	
}